<!DOCTYPE html>
<html>
<head>
	<title>Base</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
	<ul class="nav">
		  <li class="nav-item">
		    <a class="nav-link active" href="{% url 'index' %}">Index page</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="{% url 'basic_app:register' %}">Register</a>
		  </li>

		  {% if user.is_authenticated %}
		  <li class="nav-item">
		    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
		  </li>
		  {% else %}
		  <li class="nav-item">
		    <a class="nav-link" href="{% url 'basic_app:user_login' %}">Login</a>
		  </li>
		  {% endif %}
	</ul>

	<div class="container">
		{% block body_block %}

		{% endblock %}
	</div>

</body>
</html>